---
title: David Karamoko
---


  <div class="vertical-spacer"></div>



<div class="container-fluid">
  <div class="row">
    <div id="book">

      <h1 class="galerie">Mon book</h1>

<hr>

<div class="vertical-spacer"></div>

 <div class="col-xs-12 col-sm-6 col-md-3">
      <a href="#" class="thumbnail"  data-toggle="modal" data-target="#will">
        <img src="images/img_illu/img_petit_illu/will.png" alt="...">
      </a>
    </div>



    <div class="col-xs-12 col-sm-6 col-md-3">
      <a href="#" class="thumbnail"  data-toggle="modal" data-target="#dbz">
        <img src="images/img_illu/img_petit_illu/Carte_de_voeux_DBZ-3.jpg" alt="...">
      </a>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-3">
      <a href="#" class="thumbnail"  data-toggle="modal" data-target="#gaz">
        <img src="images/img_illu/img_petit_illu/Gaz_Vador.png" alt="...">
      </a>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-3">
      <a href="#" class="thumbnail"  data-toggle="modal" data-target="#pasta">
        <img src="images/img_illu/img_petit_illu/pack_pasta.png" alt="...">
      </a>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-3">
      <a href="#" class="thumbnail"  data-toggle="modal" data-target="#levis">
        <img src="images/img_indd/img_petit_indd/jp_gautier+levis_KARAMOKO.png" alt="...">
      </a>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-3">
      <a href="#" class="thumbnail"  data-toggle="modal" data-target="#nolife">
        <img src="images/img_indd/img_petit_indd/NO_LIFE.png" alt="...">
      </a>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-3">
      <a href="#" class="thumbnail" data-toggle="modal" data-target="#jackson">
        <img src="images/img_ps/img_petit_ps/Explosion_jackson.jpg" alt="...">
      </a>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-3">
      <a href="#" class="thumbnail" data-toggle="modal" data-target="#nike">
        <img src="images/img_ps/img_petit_ps/Hypervenom.jpg" alt="...">
      </a>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-3" >
      <a href="#" class="thumbnail" data-toggle="modal" data-target="#armure">
        <img src="images/img_ps/img_petit_ps/armure.jpg" alt="...">
      </a>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-3">
      <a href="#" class="thumbnail" data-toggle="modal" data-target="#omar">
        <img src="images/img_ps/img_petit_ps/omar_sy-2.jpg" alt="...">
      </a>
    </div>


    <div class="col-xs-12 col-sm-6 col-md-3">
      <a href="#" class="thumbnail" data-toggle="modal" data-target="#snoop">
        <img src="images/img_ps/img_petit_ps/dogg_snoop.jpg" alt="...">
      </a>
    </div>

<!-- Modal -->
<div class="modal fade" id="will" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <img src="images/img_illu/img_petit_illu/will.png" alt="...">
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="dbz" tabindex="-2" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <img src="images/img_illu/img_petit_illu/Carte_de_voeux_DBZ-3.jpg" alt="...">
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="gaz" tabindex="-3" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <img src="images/img_illu/img_petit_illu/Gaz_Vador.png" alt="...">
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="pasta" tabindex="-4" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <img src="images/img_illu/img_petit_illu/pack_pasta.png" alt="...">
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="levis" tabindex="-5" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <img src="images/img_indd/img_petit_indd/jp_gautier+levis_KARAMOKO.png" alt="...">
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="nolife" tabindex="-6" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <img src="images/img_indd/img_petit_indd/NO_LIFE.png" alt="...">
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="jackson" tabindex="-7" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <img src="images/img_ps/img_grand_ps/Explosion_jackson.png" alt="...">
      </div>
    </div>
  </div>
</div>



<div class="modal fade" id="nike" tabindex="-8" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <img src="images/img_ps/img_grand_ps/Hypervenom.jpg" alt="...">
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="armure" tabindex="-9" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <img src="images/img_ps/img_grand_ps/armure.jpg" alt="...">
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="omar" tabindex="-10" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <img src="images/img_ps/img_grand_ps/omar_sy_2.jpg" alt="...">
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="snoop" tabindex="-11" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <img src="images/img_ps/img_grand_ps/dogg_snoop.jpg" alt="...">
      </div>
    </div>
  </div>
</div>









      </div>
    </div>
  </div>



<div class="vertical-spacer"></div>


<hr>
